html{
    box-sizing: border-box;
}

*,
*::after,
**::before {
    box-sizing: inherit;
}

ul,
ol{
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

ul[class] {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}
a {
	text-decoration: none;
  color: inherit;
}

address{
  font-style: normal;
}

:root{
  --main-white: #FFFFFF;
  --light-gray: #BFC0C0;
  --md-gray: #4F5D75;
  --dark-gray: #2D3142;
  --orange: #EF8354;
}

body{
  background-color: var(--main-white);
  font-family: 'Roboto Mono', monospace;
  color: var(--dark-gray);
}

.container{
  width: 1200px;
  margin: 0 auto;
}


/*----------------------------Auth*/

.auth-content{
  min-height: calc(100vh - 230px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  height: 450px;
  width: 650px;
  border-radius: 3px;
  box-shadow: 0px 0px 5px -1px var(--dark-gray);
}

.auth-form__input-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-form__input-name{
  margin-bottom: 10px;
}

.auth-form__input{
  padding: 5px;
  width: 300px;
  font-family: inherit;
  border-radius: 3px;
  border: none;
  box-shadow: 0px 0px 5px -1px var(--dark-gray);
}

.auth-form__input:focus{
  outline: none;
}

.auth-form__submit{
  height: 40px;
  width: 100px;
  background-color: var(--orange);
  border: none;
  border-radius: 3px;
  font-weight: 600;
  color: var(--main-white);
  box-shadow: 0px 3px 5px -1px var(--dark-gray);
  cursor: pointer;
  transition: ease .1s;
}
.auth-form__submit:active{
  transform: translateY(5px);
  box-shadow: 0px 1px 5px -1px var(--dark-gray);
}

.auth-form__link{
  transition: ease .4s;
}

.auth-form__link:hover{
  color: var(--orange);
}


/*------------------------GOODS-LIST*/



